@model List<EpiHotel.Models.RicercaPrenotazioniModel>


@{
    ViewBag.Title = "PrenotazioniPerCliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h2>Prenotazioni per Cliente</h2>

    <div>
        <form method="get" action="@Url.Action("PrenotazioniPerCliente", "RicercaPrenotazioni")">
            <div class="form-group">
                <label for="codiceFiscale">Inserisci il Codice Fiscale del Cliente:</label>
                <input type="text" id="codiceFiscale" name="codiceFiscale" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Cerca</button>
        </form>
    </div>

    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>IdPrenotazione</th>
                    <th>Data Prenotazione</th>
                    <th>Numero Progressivo Anno</th>
                    <th>Periodo dal</th>
                    <th>Periodo al</th>
                    <th>Caparra confirmatoria</th>
                    <th>Tariffa applicata</th>
                    <th>Pernottamento con colazione</th>
                    <th>Caparra Confirmatoria</th>
                    <th>Tariffa Applicata</th>
                    <th>Pernottamento con Colazione</th>
                    <th>Mezza Pensione</th>
                    <th>Pensione Completa</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var prenotazione in Model)
                {
                    <tr>
                        <td>@prenotazione.Id</td>
                        <td>@prenotazione.DataPrenotazione.ToShortDateString()</td>
                        <td>@prenotazione.NumeroProgressivoAnno</td>
                        <td>@prenotazione.Anno</td>
                        <td>@prenotazione.PeriodoDal.ToShortDateString()</td>
                        <td>@prenotazione.PeriodoAl.ToShortDateString()</td>
                        <td>@prenotazione.CaparraConfirmatoria</td>
                        <td>@prenotazione.TariffaApplicata</td>
                        <td>@(prenotazione.PernottamentoConColazione ? "Sì" : "No")</td>
                        <td>@(prenotazione.MezzaPensione ? "Sì" : "No")</td>
                        <td>@(prenotazione.PensioneCompleta ? "Sì" : "No")</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Nessuna prenotazione trovata per il cliente.</p>
    }
</div>

